.res_menus{
    margin-top: 20px;
}
.buttondiv{
    margin: 30px 10px;
    display: flex;
    justify-content: flex-end;
}
.buttondiv .additembutton{
    padding: 10px 10px;
    border: none;
    background: var(--dark);
    border: 1px dotted var(--light);
    border-radius: 10px;
    cursor: pointer;
    color: var(--offwhite);
}
.addbutton{
    width: 80%;
    margin: auto;
}
.addmenu{
    padding: 10px 5%;
}
.addmenu:hover{
    border: 1px solid var(--green);
}