nav {
    margin: 20px 0;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    font-size: 23px;
}

li{
    text-decoration: none;
    list-style: none;
}

.userName{
    font-size: 23px;
    cursor: pointer;
}