@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 88vh;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 3fr 2.5fr;
    display: grid;
    column-gap: 30px;
}
.contai{
    max-width: 430px;
    margin: auto;
    display: block;
}
.contai img {
    width: 100%;
    filter: drop-shadow(0 0 0.75rem rgb(174, 168, 169));
    animation: up-down 1.7s ease-in-out infinite alternate-reverse both;
}

.form {
    max-width: 430px;
    margin: auto;
    display: block;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px 3px #737981;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.02);
}

.inside_form {
    margin-top: 15px;
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
    background-color: #016dcb;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #016dcb;
}

.form-link {
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content-login a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #4267b2;
}

a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

/* options css */
.restaurentlogo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 2px solid black;
}

.userlogo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 2px solid black;
}

.option {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px 10px;
    margin-top: 15px;
    font-weight: 800;
    cursor: pointer;
}

.user {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    border: 1px solid #8b8b8b;
    border-radius: 10px;
}

.restaurent {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    border: 1px solid #8b8b8b;
    border-radius: 10px;
}

.user:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(72, 126, 219, 0.612) 100%);
}

.restaurent:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(72, 126, 219, 0.612) 0%, rgba(255, 255, 255, 0.4638135039171919) 100%);
}



/* KeyFrames */

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}




/* Media Query */


@media screen and (max-width: 903px) {
    .container {
        grid-template-columns: 1fr;
        height: auto;
        margin-bottom: 20px;
    }
    .contai {
        margin: auto;
    }
}

@media screen and (max-width: 404px) {
    .form.grid_container.login {
        padding: 10px 10px;
    }

}
@media screen and (max-width: 528px) {
    .form{
        max-width: 90%;
        padding: 20px 10px;
    }
}
@media screen and (max-width: 540px) {
    .form {
        padding: 10px 50px;
        max-width: 400px;
        margin: auto;
    }


}