@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 88vh;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 3fr 2.5fr;
    display: grid;
    column-gap: 30px;
}
.contai{
    max-width: 430px;
    margin: auto;
    display: block;
}
.contai img {
    width: 100%;
    filter: drop-shadow(0 0 0.75rem rgb(174, 168, 169));
    animation: up-down 1.7s ease-in-out infinite alternate-reverse both;
}

.form {
    max-width: 430px;
    margin: auto;
    display: block;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px -2px #737981;
    background: transparent;
}

.inside_form {
    margin-top: 15px;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.field button {
    color: #fff;
    background-color: var(--dark);
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: var(--light);
}

.form-link {
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content-login a:hover {
    text-decoration: underline;
}


/* options css */
.restaurentlogo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 2px solid black;
}

.userlogo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 2px solid black;
}

.option {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px 10px;
    margin-top: 15px;
    font-weight: 800;
    cursor: pointer;
}

.user {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    border: 1px solid #8b8b8b;
    border-radius: 10px;
}

.restaurent {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    border: 1px solid #8b8b8b;
    border-radius: 10px;
}

.user:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, var(--light) 100%);
}

.restaurent:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, var(--light) 0%, rgba(255, 255, 255, 0.4638135039171919) 100%);
}



/* KeyFrames */

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}




/* Media Query */


@media screen and (max-width: 903px) {
    .container {
        grid-template-columns: 1fr;
        height: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .contai {
        margin: auto;
    }
    .form.grid_container.login {
        width: 85vw;
    }
}

@media screen and (max-width: 404px) {
    .contai{
        max-width: 250px;
    }

}
@media screen and (max-width: 528px) {
    .form{
        max-width: 90%;
        padding: 20px 10px;
    }
}
@media screen and (max-width: 540px) {
    .form {
        padding: 10px 50px;
        max-width: 400px;
        margin: auto;
    }
}

@media screen and (max-width: 1040px) {
    .container {
        column-gap: 15px;
    }
    .contai{
        width: 330px;
    }
    .form {
        width: 360px;
        padding: 20px;
    }
}
@media screen and (max-width: 371px) {
    .form {
        width: 360px;
        padding: 10px;
    }
}
@media screen and (max-width: 340px) {
    .restaurentlogo, .userlogo {
        display: none;
        text-align: center;
    }
    .restaurent, .user{
        justify-content: center;
    }
}