/* CSS for Add Menu PopUp */
.addmenu_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    width: 35%;
    box-shadow: 2px 0px 30px grey;
    border-radius: 10px;
  }
  
  .addmenu_popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .addmenu_popup h2 {
    margin-top: 0;
  }
  
  .addmenu_popup label {
    margin-bottom: 5px;
  }
  
  .addmenu_popup input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
  }
  
  .addmenu_popup button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  @media screen and (max-width: 1461px) {
    .addmenu_popup{
        width: 40%;
    }
  }
  @media screen and (max-width: 800px) {
    .addmenu_popup{
        width: 60%;
    }
  }
  @media screen and (max-width: 570px) {
    .addmenu_popup{
        width: 80%;
    }
  }



/* end of pop up css */


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    left: 0px;
}


/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 100vw;
    left: 0px;
    transition: all 0.5s ease-in-out;
    background-color: var(--offwhite);

}

/* Add styles to the form container */
.form-container {
    max-width: 100vw;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: var(--offwhite);
    padding: 10px;
}
.popup_buttons .confirm{
    position: fixed;
    bottom: 0;
    left: 5%;
}
.popup_buttons .cancel{
    position: fixed;
    bottom: 0;
    right: 5%;

}


/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 35%;
    margin-bottom: 10px;
    opacity: 0.8;
}
.popup_buttons{
    display: flex;
    justify-content: space-evenly;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.form-container:last-child{
    padding-bottom: 65px;
}
.menulist{
    padding-top: 30px;
}
.heading{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}
.heading h3 span{
    color: var(--dark);
}
.heading h3{
    text-decoration: underline;
}